@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  height: 100vh;
}

.home{
  background: linear-gradient(to right, #141b2d, #1f2a40); /* Example gradient */
  min-height: 100vh;
}

.login{
  background: #1f2a40;
  min-height: 100vh;
}